body{
	box-sizing: border-box;
	background-color: #fffdd0;
	font-size: 16px;
}

#header-nav{
	
	border-radius: 0;
	border:0;
}

.navbar-brand{
	padding-top: 10px;
	padding-bottom: 15px;
}
.navbar-brand h1{
	font-size: 1.7em;
	font-family: oxygen;
	text-shadow: 1px 1px 1px blue;
	margin-top:auto;
	margin-bottom: auto;
	line-height: 5px;
	font-weight: bold;
	color: white;
	padding-bottom: 15px;
}

h1{
	font-size: 1.6em;
	font-weight: bold;
	padding-top: 15px;
	font-family: ;
	text-align: center;
	color: red;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid grey;
	background-color: white; 
}

section{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	height: auto;
	background-color: grey;
	text-align: center;
	font-family: Comic Sans MS;
	margin-bottom: 20px;
}

section div{
	font-family: Lucida Sans Unicode;
    font-weight: bold;
	font-size: 1.6em;
	padding-top: 10px;
	padding-bottom: 10px;

}
.visible-xs{
	color: black;
}

div a{
	color:black;
	font-size: 14px;
}
